
<%@items.each do |item| %>
    <h2 class="display-5"><%= link_to item.name, item_path(item), class: "text-decoration-none" %></h2>
    <%# <%= link_to "Delete",restaurant_path(restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none"
%>
<% end %>

<%= link_to "Add New Item",new_item_path, class: "btn btn-secondary"%>
